@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.main-logo{
  width: 100%;
  margin-bottom: 20px;
}
.main-logo img{
  border-radius: 50%;
  padding: 8%;
}

.center-div{
  text-align: center;
}

body {
  background-image: url("../../public/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
    background-attachment: fixed;
}

.main-text h1{
  font-size: 3vh;
}

.main-description{
  padding: 0 20px;
}

.main-description h1{
  font-size: 2.5vh;
  margin-bottom: 30px;
}

.main-description-plan{
  margin-top: 20px;
}

.main-description-plan h1{
  font-size: 2.5vh;
  margin-bottom: 0;
}

.max-w-90p{
  max-width: 90%;
}

.main-page{
  margin: 20px 20px 20px;
  padding: 10px;
  border-radius: 36px;
  border: 2px solid rgb(244, 234, 224);
}

.main-content{
  background-color: rgb(244, 234, 224);
  border-radius: 24px;
}