.plan-day-div {
    margin: 20px;
}

.planBody {
    color: #000000;
    margin: 50px 20px 20px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 36px;
    border: 2px solid rgb(244, 234, 224);
    width: 90%;
}

.planBody-content{
    background-color: rgb(244, 234, 224);
    border: 2px solid rgb(244, 234, 224);
    border-radius: 24px;
}

.timeline-container {
    text-align: center;
    margin-bottom: 80px;
    font-size: 20px;
}

.timeline-container h1 {
    font-size: 3em;
    font-weight: 300;
    margin-bottom: 20px;
}

.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.timeline::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #000;
    transform: translateX(-50%);
}

.timeline-event {
    display: flex;
    align-items: center;
    margin: 15px 0 0 0;
    width: 100%;
    max-width: 600px;
}

.time, .description {
    flex: 1;
}

.icon-left{
    margin-left: 20px;
}

.time {
    text-align: right;
    padding-right: 20px;
}

.icon {
    text-align: center;
}

.icon img {
    width: 30px;
    height: 30px;
}

.description {
    text-align: left;
    padding-left: 20px;
}

.timeline-event:nth-child(even) .time {
    order: 3;
    text-align: left;
    padding-left: 60px;
    padding-right: 0;
}

.timeline-event:nth-child(even) .description {
    order: 1;
    text-align: left;
    padding-left: 20px;
}

.timeline-event:nth-child(even) .icon {
    margin-left: 20px;
}

.timeline-event:nth-child(odd) .time {
    order: 1;
    text-align: right;
    padding-left: 20px;
}

.timeline-event:nth-child(odd) .description {
    order: 3;
    text-align: left;
    padding-left: 20px;
}


.timeline-event:nth-child(odd) .icon {
    order: 3;
    text-align: left;
    padding-left: 60px;
    padding-right: 0;
}

.timeline-day{
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 2.5vh;
}

.timeline-header{
    font-size: 3.5vh;
    margin-top: 30px;
}

.description{
    font-size: 1.5vh;
}
